<div id="full-page">
<div class="mioDiv">
<div class="bar bar-header bar-sosdriver">
  <h1 class="title">Header </h1>
  <i class="ion-paper-airplane"> </i>
</div>

<div class="tabs-striped tabs-top tabs-background-sosdriver tabs-color-dark">
    <div class="tabs">
      <a class="tab-item" ng-click="changeTab(0)">
        <i class="icon ion-person"> </i>
        Person
      </a>
      <a class="tab-item" ng-click="changeTab(1)">
        <i class="icon ion-earth">  </i>
        Map
      </a>
      <a class="tab-item" ng-click="changeTab(2)">
        <i class="icon ion-ios-list-outline"></i>
        Cronology
      </a>

      <a class="tab-item"  ng-click="changeTab(3)">
        <i class="icon ion-gear-a"></i>
        Settings
      </a>
    </div>
  </div>

</div>
  <div define-area type-area="withHeaderFooterTabHome">

      <tabs class="swiper-container">


          <!-- TAB CONTENT -->
          <div class="swiper-wrapper">

              <!-- TAB1 -->
              <div when-scrolled class="swiper-slide" ng-controller="UserController">
                  <load-template url="../views/home/user.html"></load-template>
              </div>

              <!-- TAB2 -->
              <div  class="swiper-slide" id="google-map" ng-controller="GeolocalizationController" >
                  <load-template url="../views/home/geolocalization.html"></load-template>
              </div>

              <!-- TAB3 -->
              <div when-scrolled class="swiper-slide">
                  <load-template url="../views/home/history.html"></load-template>
              </div>

              <!-- TAB4 -->
              <div when-scrolled class="swiper-slide" ng-controller="SettingsController">
                  <load-template url="../views/home/settings.html"></load-template>
              </div>

          </div>
      </tabs>


    </div>

</div>

<div  ng-show = "title=='geolocalization'" class="search-bottom" ng-controller="GeolocalizationController">
  <i ng-click="calculateAddress()" class="search-bottom-icon ion-ios-search"></i>
  <input type="sosDriverSearch" id="sosDriverAutocomplete" ng-model="resultSearch" placeholder="indirizzo" class = "sosDriverSearchAdress"/>
   </div>
