<div id="NamespacePreHome">

        <div class="spacer-20"></div>
        <div class="gradient-text"> SOSDriver </div>



          <section class="content">

      <span class="input input--hideo">
        <input class="input__field input__field--hideo" type="text" id="input-41" ng-model="username"/ />
        <label class="input__label input__label--hideo" for="input-41">
          <i class="ion-person"></i>
          <span class="input__label-content input__label-content--hideo">Username</span>
        </label>
      </span>

      <span class="input input--hideo">
         <input class="input__field input__field--hideo" type="password" id="input-41" ng-model="password"/>
        <label class="input__label input__label--hideo" for="input-41">
          <i class="ion-locked"></i>
          <span class="input__label-content input__label-content--hideo">Password</span>
        </label>
      </span>


    <br></br>
      <li><a ng-click="login()" class="round sosDriver">Login<span class="round"></span></a></li>

    </section>



  <div class="row">
    <div class="col">  <button class="button button-outline button-light" ng-bind="'NEW_ACCOUNT_PREHOME'|translate" ng-click="goToRegistration()">
      Nuovo account
      </button></div>
    <div class="col">  <button class="button button-outline button-light" ng-bind="'RESET_PASSWORD_PREHOME'|translate" ng-click="goToRecoverPassword()">
      Rinvio password
      </button></div>

  </div>




    </div>
