/*FONTS*/
@font-face {
  font-family: "Ionicons";
  src: url("/fonts/ionicons.eot?v=2.0.1");
  src: url("/fonts/ionicons.eot?v=2.0.1#iefix") format("embedded-opentype"), url("/fonts/ionicons.ttf?v=2.0.1") format("truetype"), url("/fonts/ionicons.woff?v=2.0.1") format("woff"), url("/fonts/ionicons.svg?v=2.0.1#Ionicons") format("svg");
  font-weight: normal;
  font-style: normal; }


* {
    margin: 0;
    padding: 0;
    border: none;
    font-size: 14px;
    box-sizing: border-box;
    font-family: 'robotolight';
    font-weight: normal;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    outline: none;
    border-radius: 0;
}

body {
    width: 100%;
    height: 100%;
    background: #fff;
    -ms-touch-action: none;
}

#full-page {
    position: absolute;
    z-index: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    overflow: auto;
}

.height-auto {
    height: auto !important;
}

.area-scrollable {
    position: relative;
    clear: left;
    float: left;
    width: 100%;
    height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.overflow-hidden {
    overflow: hidden !important;
}

.overflow-initial {
    overflow: initial !important;
}

/*HEADER*/
header {
    position: relative;
    z-index: 100;
    clear: left;
    float: left;
    width: 100%;
    height: 50px;
    background: #eae5d2;
    overflow: hidden;
}

#right-page {
    position: absolute;
    z-index: 160;
    top: 0;
    right: 0;
    bottom: 0;
    width: 0;
    padding-top: 0;
    height: 100%;
    background: #eae5d2;
    overflow: hidden;
}

.accordion-label {
    clear: left;
    float: left;
    width: 100%;
    height: 30px;
    padding: 3px 30px 0 3%;
    font-size: 15px;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: 96% center;
    background-size: 14px;
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
}

.accordion-content {
    clear: left;
    float: left;
    width: 100%;
    height: 0;
    background: #f8f8f8;
    overflow: hidden;
}

.accordion-content-open {
    max-height: 1000px;
}

.accordion-content-close {
    max-height: 40px;
}

.margin-right {
    margin-right: 0 !important;
}

.accordion-content-close, .accordion-content-open {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.color-facebook {
    color: #3b5998 !important;
}

.color-google {
    color: #dd4b39 !important;
}

.color-email {
    color: #55acee !important;
}

.display-none {
    display: none !important;
}

.display-block {
    display: block !important;
}

.margin-right-none {
    margin-right: 0 !important;
}

.no-padding-top {
    padding-top: 0 !important;
}

.no-padding-top-bottom {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.padding-top-50 {
    padding-top: 50px;
}

.padding-top-100 {
    padding-top: 100px;
}

.no-padding-bottom {
    padding-bottom: 0 !important;
}

.no-border-bottom {
    border-bottom: none !important;
}

.users-share-icon-text {
    display: inline-block;
    width: 100%;
    height: 50px;
    padding: 6px 10px;
}

.users-share-icon {
    clear: left;
    float: left;
    width: 40px;
    height: 40px;
    margin-top: 5px;
    background-color: #d0d0d0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
}

.users-share-text {
    display: table-cell;
    vertical-align: middle;
    height: 50px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 12px;
    color: #303030;
}

.back-button {
    clear: left;
    float: left;
    width: 30px;
    height: 50px;
    padding-top: 6px;
    text-align: center;
    font-size: 32px;
}

/*SPACERS*/
.spacer-5, .spacer-10, .spacer-20, .spacer-30, .spacer-40, .spacer-50, .spacer-80 {
    clear: left;
    float: left;
    width: 100%;
}

.spacer-5 {
    margin-top: 5px;
}

.spacer-10 {
    margin-top: 10px;
}

.spacer-20 {
    margin-top: 20px;
}

.spacer-30 {
    margin-top: 30px;
}

.spacer-40 {
    margin-top: 40px;
}

.spacer-50 {
    margin-top: 50px;
}

.spacer-80 {
    margin-top: 80px;
}

/*DIVISORS*/
.divisor-left-6 {
    margin-left: 6px;
}

/*BUTTONS*/
.btn-xxl {
    width: 100%;
    height: 44px;
    font-size: 18px;
    line-height: 44px;
}

.btn-large {
    width: 90%;
    height: 44px;
    margin: 0 5%;
    font-size: 18px;
    line-height: 44px;
}

.btn-small {
    display: block;
    width: 220px;
    height: 50px;
    margin: 0 auto;
    font-size: 16px;
    border-radius: 3px;
    text-align: center;
    font-weight: 100;
}

/*BUTTON COLORS*/
.btn-lightblue {
    color: #fff;
    background: #5677fc;
    box-shadow: 0 0 3px #4d69ff;
}

.btn-blue {
    color: #fff;
    background: #3b5998;
    box-shadow: 0 0 3px #3b5998;
}

.btn-green {
    color: #fff;
    background: #0d5302;
    box-shadow: 0 0 3px #0a8f08;
}

.btn-gray {
    color: #fff;
    background: #607d8b;
    box-shadow: 0 0 3px #607d8b;
}

.btn-red {
    color: #eae5d2;
    background: #3c312d;
}

.btn-sosDriver {
    color: #eae5d2;
    background: #3c312d;
}

.btn-inline-button {
    clear: left;
    float: left;
    width: 100%;
}

.btn-small-left-inline, .btn-small-right-inline {
    width: 50%;
    height: 44px;
    line-height: 44px;
    font-size: 18px;
}

.btn-small-left-inline {
    float: left;
}

.btn-small-right-inline {
    float: right;
}

.btn-red:disabled, .btn-blue:disabled {
    opacity: 0.6;
}

/* INPUTS */
.iptLarge {
    clear: left;
    float: left;
    width: 100%;
    height: 32px;
    padding: 0 10px;
    line-height: 32px;
    color: #000;
    background: #e8e8e8;
}

.iptMedium {
    clear: left;
    float: left;
    width: 86%;
    height: 40px;
    margin: 0 7%;
    padding: 0 10px;
    font-size: 16px;
    background: #e8e8e8;
    border-radius: 3px;
}

.ipt-small {
    clear: left;
    float: left;
    width: 40%;
    height: 32px;
    line-height: 32px;
    padding: 0 10px;
    font-size: 16px;
    background: #e8e8e8;
    border-radius: 3px;
}

.iptLarge-icon {
    clear: left;
    float: left;
    margin-top: -40px;
    margin-left: 218px;
    color: #d0d0d0;
    font-size: 26px;
}

/*SELECTS*/
.select-xxl, .select-small {
    float: left;
    height: 32px;
    line-height: 32px;
    padding-left: 10px;
    color: #000;
    background: #e8e8e8;
    border-radius: 0;
}

.select-xxl {
    clear: left;
    width: 100%;
}

.select-small {
    width: 30%;
}

.content-center {
    width: 260px;
    margin: 0 auto;
}

/*ICONS*/
.header-icon-backbutton {
    position: absolute;
    top: 8px;
    width: 36px;
    height: 36px;
    padding-left: 10px;
    font-size: 26px;
    line-height: 32px;
    color: #fff;
}

.heart {
    color: #FF5722 !important;
}

.favourites {
    color: #FF9800 !important;
}

/*HEART BUTTON*/
.heart-button {
    clear: left;
    float: left;
    margin-left: 5%;
}

.heart-button i {
    float: left;
    margin-top: 4px;
    font-size: 22px;
}

.red {
    color: #e53b2c;
}

.gray {
    color: #d0d0d0;
}

.text {
    color: #484848;
}

.margin-lateral {
    width: 94%;
    margin: 0 3%;
}

.pos_right {
    text-align: right;
}

.pos_left {
    text-align: left;
}

.clear-left {
    clear: left;
}

.clear-inherit {
    clear: inherit !important;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.abs_left {
    left: 0;
}

.abs_right {
    right: 0;
}

.select-arrow, .select-arrow-30 {
    position: relative;
    z-index: 1;
    clear: left;
    float: left;
    height: 32px;
    background: #e8e8e8;
}

.select-arrow {
    width: 100%
}

.select-arrow-30 {
    width: 30%;
}

.select-arrow-30-2 {
    margin-left: 5%;
}

.select-over {
    position: relative;
    z-index: 2;
    margin-top: -32px;
    background: rgba(0, 0, 0, 0.0033);
}

/* MAIN TITLE AND SECONDARY TITLE */
.ttl-main-title, .ttl-secondary-title, .ttl-secondary-center-title {
    clear: left;
    float: left;
    width: 100%;
    color: #484848;
    font-family: 'robotobold';
}

.ttl-main-title {
    font-size: 22px;
}

.ttl-secondary-title {
    font-size: 18px;
}

.ttl-secondary-center-title {
    font-size: 16px;
    text-align: center;
}

.select-small-2 {
    margin-left: 35%;
}

/* TEXT JUSTIFY AND DON'T JUSTIFY */
.txt-justify, .txt-non-justify {
    clear: left;
    float: left;
    width: 100%;
    font-size: 16px;
    color: #484848;
}

.txt-justify {
    text-align: justify;
}

.oler-background {
    background-image: url('../images/background1.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    overflow: hidden;
}

.box-logo-oler {
    clear: left;
    float: left;
    width: 100%;
    margin-top: 80px;
    color: #fff;
    text-align: center;
    font-size: 36px;
    font-family: 'robotobold';
}

.toggle-share, .toggle-share-black {
    float: left;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 1px solid #fff;
}

.toggle-share-black {
    clear: left;
    border: 1px solid #000;
}

.toggle-share.radio-button-color, .toggle-share-black.radio-button-color {
    background: #e12f1d;
}

.empty-data-content {
    clear: left;
    float: left;
    width: 70%;
    margin: 60px 15% 0 15%;
}

.empty-data-content-icon {
    clear: left;
    float: left;
    width: 100%;
    height: 160px;
    font-size: 160px;
    text-align: center;
    color: #3c312d;
    overflow: hidden;
}

.empty-data-content-message {
    clear: left;
    float: left;
    width: 100%;
    margin-top: 10px;
    font-size: 15px;
    text-align: center;
}

.empty-data-content-icon-share {
    font-size: 120px !important;
    padding-top: 22px !important;
}

.withHeaderTabWizard .empty-data-content {
    margin: 20px 15% 0 15% !important;
}

.infinite-scroll {
    clear: left;
    float: left;
    width: 100%;
    height: 60px;
    background-color: #e8e8e8;
    /*background-image: url('../images/scroll-loading.gif');*/
    background-repeat: no-repeat;
    background-position: center 4px;
    background-size: 32px;
}

/* RES height < 480px */
@media only screen and (max-height: 480px) {

    .empty-data-content {
        margin: 30px 15% 0 15%
    }

    .withHeaderTabWizard .empty-data-content {
        margin: 0 15% 0 15% !important;
    }
}

/*BACKGROUND IMAGES*/


.background-full.image-01 {
    background-image: url("../images/background1.jpg");
}

.background-full.image-02 {
    background-image: url("../images/background2.jpg");
}

.background-full.image-03 {
    background-image: url("../images/background3.jpg");
}

.background-full.image-04 {
    background-image: url("../images/background4.jpg");
}


/*paulo input */


.sosDriverInput {
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 150px;
  height: 42px;
  cursor: pointer;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0 20px;
  overflow: hidden;
  border: none;
  -webkit-border-radius: 21px;
  border-radius: 21px;
  font: normal 20px/normal "Antic", Helvetica, sans-serif;
  color: rgba(140,140,140,1);
  text-decoration: normal;
  text-indent: 15px;
  text-align: left;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  letter-spacing: 10%;
  background: rgba(40,40,40,0.4);
  -webkit-box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.5) inset;
  box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.5) inset;
  -webkit-transition: all 570ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
  -moz-transition: all 570ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
  -o-transition: all 570ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
  transition: all 570ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
}

.sosDriverInput:hover {
  color: rgba(181,181,181,1);
  background: rgba(0,0,0,0.4);
  -webkit-transition: all 500ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
  -moz-transition: all 500ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
  -o-transition: all 500ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
  transition: all 500ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
  text-indent: 20px;
}

.sosDriverInput:focus {
  width: 213px;
  cursor: default;
  padding: -13px 20px 0;
  font: normal 25px/normal "Antic", Helvetica, sans-serif;
  color: rgba(255,255,255,1);
  -webkit-transition: all 601ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
  -moz-transition: all 601ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
  -o-transition: all 601ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
  text-indent: 7px;
  transition: all 601ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
}



/*SCRITTA SOSODRIVER */

/* latin-ext */
@font-face {
  font-family: 'Audiowide';
  font-style: normal;
  font-weight: 400;
  src: local('Audiowide'), local('Audiowide-Regular'), url(http://fonts.gstatic.com/s/audiowide/v4/7pSgz2MbVvTCvvm7vukSHxJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Audiowide';
  font-style: normal;
  font-weight: 400;
  src: local('Audiowide'), local('Audiowide-Regular'), url(http://fonts.gstatic.com/s/audiowide/v4/8XtYtNKEyyZh481XVWfVOltXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* latin */
@font-face {
  font-family: 'Nova Flat';
  font-style: normal;
  font-weight: 400;
  src: local('Nova Flat'), local('NovaFlat'), url(http://fonts.gstatic.com/s/novaflat/v8/vFeor41nvsomiEVSx6n4iltXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}


.gradient-text {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding: 20px;
  overflow: hidden;
  border: none;
  font: normal 45px/1 "Audiowide", Helvetica, sans-serif;
  color: rgba(255,255,255,0.70);
  text-align: center;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.gradient-text::after {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 100%;
  height: 100%;
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  left: 0;
  border: none;
  font: normal 16px/normal Arial, Helvetica, sans-serif;
  color: rgba(0,0,0,0.9);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: -webkit-linear-gradient(-90deg, rgba(0,0,0,0) 0, rgba(0,0,0,0.1) 44%, rgba(0,0,0,0.47) 58%, rgba(0,0,0,1) 100%);
  background: -moz-linear-gradient(180deg, rgba(0,0,0,0) 0, rgba(0,0,0,0.1) 44%, rgba(0,0,0,0.47) 58%, rgba(0,0,0,1) 100%);
  background: linear-gradient(180deg, rgba(0,0,0,0) 0, rgba(0,0,0,0.1) 44%, rgba(0,0,0,0.47) 58%, rgba(0,0,0,1) 100%);
  background-position: 50% 50%;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: auto auto;
  background-size: auto auto;
  text-shadow: none;
}



/*sosdriver button -- paulo */

.sosDriverButton {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 250px;
  height: 70px;
  cursor: pointer;
  margin: 0 auto;
  border: 2px solid hsl(278,95%,29%);
  -webkit-border-radius: 40px;
  border-radius: 40px;
  font: normal 37px/70px "Advent Pro", Helvetica, sans-serif;
  color: #5B048E;
  text-align: center;
  -o-text-overflow: clip;
  text-overflow: clip;
  letter-spacing: 1px;
  background: rgba(0,0,0,0);
  -webkit-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
  -moz-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
  -o-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
  transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
}

.sosDriverButton:hover {
  border: 2px solid rgba(40,4,96,1);
  color: rgba(255,255,255,1);
  background: #5B048E;
}

.sosDriverButton:active {
  border: 2px solid rgba(72,12,211,1);
  color: rgba(0,46,165,1);

  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}



body {
		width: 100%;
		height: 100%;
		font-family: "helvetica neue", helvetica, arial, sans-serif;
		font-size: 13px;
		text-align: center;
		background: #333 url('http://subtlepatterns.subtlepatterns.netdna-cdn.com/patterns/low_contrast_linen.png');
	}

	ul {
		margin: 30px auto;
		text-align: center;
	}

	li {
		list-style: none;
		position: relative;
		display: inline-block;
		width: 100px;
		height: 100px;
	}

	@-moz-keyframes rotate {
		0% {transform: rotate(0deg);}
		100% {transform: rotate(-360deg);}
	}

	@-webkit-keyframes rotate {
		0% {transform: rotate(0deg);}
		100% {transform: rotate(-360deg);}
	}

	@-o-keyframes rotate {
		0% {transform: rotate(0deg);}
		100% {transform: rotate(-360deg);}
	}

	@keyframes rotate {
		0% {transform: rotate(0deg);}
		100% {transform: rotate(-360deg);}
	}

	.round {
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		padding-top: 30px;
		text-decoration: none;
		text-align: center;
		font-size: 25px;
		text-shadow: 0 1px 0 rgba(255,255,255,.7);
		letter-spacing: -.065em;
		font-family: "Hammersmith One", sans-serif;
		-webkit-transition: all .25s ease-in-out;
		-o-transition: all .25s ease-in-out;
		-moz-transition: all .25s ease-in-out;
		transition: all .25s ease-in-out;
		box-shadow: 2px 2px 7px rgba(0,0,0,.2);
		border-radius: 300px;
		z-index: 1;
		border-width: 4px;
		border-style: solid;
	}

	.round:hover {
		width: 130%;
		height: 130%;
		left: -15%;
		top: -15%;
		font-size: 33px;
		padding-top: 38px;
		-webkit-box-shadow: 5px 5px 10px rgba(0,0,0,.3);
		-o-box-shadow: 5px 5px 10px rgba(0,0,0,.3);
		-moz-box-shadow: 5px 5px 10px rgba(0,0,0,.3);
		box-shadow: 5px 5px 10px rgba(0,0,0,.3);
		z-index: 2;
		border-size: 10px;
		-webkit-transform: rotate(-360deg);
		-moz-transform: rotate(-360deg);
		-o-transform: rotate(-360deg);
		transform: rotate(-360deg);
	}

	a.red {
		background-color: rgba(239,57,50,1);
		color: rgba(133,32,28,1);
		border-color: rgba(133,32,28,.2);
	}

	a.red:hover {
		color: rgba(239,57,50,1);
	}

	a.green {
		background-color: rgba(1,151,171,1);
		color: rgba(0,63,71,1);
		border-color: rgba(0,63,71,.2);
	}

	a.green:hover {
		color: rgba(1,151,171,1);
	}

	a.yellow {
		background-color: rgba(252,227,1,1);
		color: rgba(153,38,0,1);
		border-color: rgba(153,38,0,.2);
	}

	a.yellow:hover {
		color: rgba(252,227,1,1);
	}

/*bottone sosdriver --paulo */
  a.sosDriver {
    background-color: rgba(91,4,142,0.5);
		color: rgba(255,255,255,1);
		border-color: rgba(0,3,119,0.5);
  }

  a.sosDriver:hover {
    color: rgba(239,57,50,1);
  }


	.round span.round {
		display: block;
		opacity: 0;
		-webkit-transition: all .5s ease-in-out;
		-moz-transition: all .5s ease-in-out;
		-o-transition: all .5s ease-in-out;
		transition: all .5s ease-in-out;
		font-size: 1px;
		border: none;
		padding: 40% 20% 0 20%;
		color: #fff;
	}

	.round span:hover {
		opacity: .85;
		font-size: 16px;
		-webkit-text-shadow: 0 1px 1px rgba(0,0,0,.5);
		-moz-text-shadow: 0 1px 1px rgba(0,0,0,.5);
		-o-text-shadow: 0 1px 1px rgba(0,0,0,.5);
		text-shadow: 0 1px 1px rgba(0,0,0,.5);
	}

	.green span {
		background: rgba(0,63,71,.7);
	}

	.red span {
		background: rgba(133,32,28,.7);
	}

	.yellow span {
		background: rgba(161,145,0,.7);

	}

  .sosDriver span {
    background: rgba(133,32,28,.7);
  }

  
