
<div class="bar bar-header bar-balanced">
  <a ng-click="goToPrehome()" class="button icon-left ion-chevron-left button-clear "></a>
  <h1 class="title">REGISTRAZIONE</h1>
</div>
<br><br>
<div class="list list-inset">
  <label class="item item-input">
    <input type="text" placeholder="Username" ng-model="username">
  </label>
  <label class="item item-input">
    <input type="password" placeholder="Password" ng-model="password">
  </label>


</div>
<button align="center" class="button button-outline button-balanced col col-33 col-offset-33" ng-click="login()">
LOGIN
</button>
