<div id="NamespacePreHome">

<div class="spacer-20"></div>
  <section class="content">

    <span class="input input--hideo">
      <input class="input__field input__field--hideo" type="text" id="input-41" ng-model="email"/ />
      <label class="input__label input__label--hideo" for="input-41">
      <i class="ion-person"></i>
      <span class="input__label-content input__label-content--hideo">Email</span>
      </label>
    </span>

  </section>

  <li><button class="button button-outline button-light" ng-click="recover()">Invia</button></li>

</div>
