<div id="NamespacePreHome">
  <div class="bar bar-header bar-dark">
    <div class="row">

      <div class="col col-10"><i class="icon ion-chevron-left" ng-click="goToDrivers()"></i></div>
      <div class="col col-90" align="center">  <h1 class="title-driver-sosdriver" ng-bind="'RECOVER'|translate">RECUPERO PASSWORD</h1> </div>
    </div>

  </div>
<div class="spacer-20"></div>
<div class="spacer-20"></div>
<div class="spacer-20"></div>
  <section class="content">
      <h5> Hai dimenticato la password? </h5>
      <h5> Inserisci la tua e-mail </h5>
    <span class="input input--hideo">
      <input class="input__field input__field--hideo" type="text" id="input-41" placeholder="E-mail" ng-model="email"/ />
      <label class="input__label input__label--hideo" for="input-41">
      <i class="ion-android-mail"></i>
      <span class="input__label-content input__label-content--hideo">Email</span>
      </label>
    </span>

  </section>

  <li><button class="button button-outline button-dark" ng-click="recover()">Invia</button></li>

</div>
