<div id="full-page">
  <div class="bar bar-header bar-balanced">
  <a ng-click="goToPrehome()" class="button icon-left ion-chevron-left button-clear "></a>
  <h1 class="title" ng-bind="'REGISTRAZION_REGISTRAZION'|translate">REGISTRAZIONE</h1>
</div>
<br><br>

<div class="list">

  <fieldset ng-show="step">

  <label class="item item-input item-stacked-label item-stable">
    <span class="input-label" ng-bind="'NAME_REG'|translate">Nome</span>
    <input type="text"  ng-model="name">
  </label>

  <label class="item item-input item-stacked-label item-stable">
    <span class="input-label  item-royal" ng-bind="'SURNAME_REG'|translate">Cognome</span>
    <input type="text"  ng-model="surname">
  </label>

  <label class="item item-input item-stacked-label item-stable">
    <span class="input-label  item-royal" ng-bind="'BIRTHDAY_REG'|translate">Data di Nascita</span>
    <div class="row">
      <div class="col col-bottom">
        <input type="date"  ng-model="birthday">
      </div>
    </div>

  </label>


  <label class="item item-input item-select item-stacked-label item-stable">
    <div class="input-label" ng-bind="'SEX_REG'|translate">Sesso</div>
    <select ng-model="gender">
      <option value="M">Maschio</option>
      <option value="F">Femmina</option>
    </select>
  </label>

  <label class="item item-input item-select">
    <div class="input-label" ng-bind="'RESIDENCE_REG'|translate">Residenza</div>
    <select ng-model="city">
  <option value="BOLOGNA">BOLOGNA</option>
  <option value="MILANO">MILANO</option>
  <option value="ROMA">ROMA</option>
  <option value="TORINO">TORINO</option>

    </select>
  </label>


      <label class="item item-input item-stacked-label item-stable">
        <span class="input-label" ng-bind="'STREET_REG'|translate">Via</span>
        <input class="item-royal" name="via" type="text"  ng-model="street">
      </label>

</fieldset>
  <button align="center" class="button button-outline button-balanced col col-33 col-offset-33" ng-show="step" ng-init="step= true" ng-click="step = !step">
  Avanti
  </button>


  <fieslset ng-hide="step">
  <label class="item item-input item-stacked-label item-stable">
    <span class="input-label">E-mail</span>
    <input class="item-royal" name="Partenza" type="text" ng-model="email">
  </label>

  <label class="item item-input item-stacked-label item-stable">
    <span class="input-label" ng-bind="'CEL_NUMBER_REG'|translate">Numero di Telefono</span>
    <input class="item-royal" name="numero" type="text"  ng-model="number">
  </label>

  <label class="item item-input item-stacked-label item-stable">
    <span class="input-label">Username</span>
    <input class="item-royal" name="username" type="text"  ng-model="username">
  </label>

  <label class="item item-input item-stacked-label item-stable">
    <span class="input-label">Password</span>
    <input class="item-royal" name="password" type="password"  ng-model="password">
  </label>


    </fieldset>


  <button align="center" ng-bind="'SIGN_REG'|translate" class="button button-outline button-balanced col col-33 col-offset-33" ng-click="registration()">
  Registrati
  </button>



</div>
</div>
