<div class="bar bar-header bar-sosdriver">
  <a ng-click="goToUser()" class="button icon-left ion-chevron-left button-clear "></a>
  <h1 class="title" ng-bind="'REGISTRAZION_LICENSE'|translate">REGISTRAZIONE PATENTE</h1>
</div>
<br><br>


<form name="userForm" novalidate>
<div class="list">

  <label class="item item-input">
    <span class="input-label">Codice Fiscale</span>
    <input class="item-royal" name="numereopatente" type="text"  ng-model="codicefiscale"  ng-required="true">
  </label>

<label class="item item-input">
  <span class="input-label" ng-bind="'LICENSE_REG'|translate">Numero di Patente</span>
  <input class="item-royal" name="numereopatente" type="text"  ng-model="license"  ng-required="true" >
</label>

<label class="item item-input">
  <span class="input-label  item-royal" ng-bind="'DATE_ISSUE_REG'|translate">Data di Emissione</span>
  <div class="row">
    <div class="col col-bottom">
      <input type="date"  ng-model="dateofissue"  ng-required="true" >
    </div>
  </div>

</label>


<label class="item item-input">
  <span class="input-label  item-royal" ng-bind="'DATE_EXPIRY_REG'|translate">Data di Scadenza</span>
  <div class="row">
    <div class="col col-bottom">
      <input type="date"  ng-model="dateofexpiration"   ng-required="true" >
    </div>
  </div>

</label>


<label class="item item-input item-select">
  <div class="input-label" ng-bind="'TYPE_LICENSE_REG'|translate">Tipologia Patente</div>
  <select ng-model="typelicense"   ng-required="true" >
    <option value="A" ng-selected=true>A</option>
    <option value="B">B</option>
    <option value="AB">AB</option>
  </select>
</label>

<button align="center" ng-bind="'SIGN_REG'|translate" class="button button-block button-positive"  ng-disabled="!userForm.$valid"  ng-click="registrationlicense()">
Salva
</button>
</form>

</div>
