<div id="NamespaceSettings">
    <div class="margin-lateral">
        <div class="spacer-30"></div>

        <h1 ng-bind=" 'SELECT_LANGUAGE' | translate">Select language</h1>

        <div class="spacer-5"></div>
        <select class="sosdriver-select" ng-model="settings.language">
            <option value="gb">English</option>
            <option value="it">Italiano</option>
        </select>

        <div class="spacer-20"></div>

        <button ng-click="saveSettings($event)" class="btn-xxl btn-sosDriver" >
            Salva
        </button>
    </div>
</div>
