<div id="NamespaceSettings">
    <div class="margin-lateral">
        <div class="spacer-30"></div>

        <h1>Select language</h1>

        <div class="spacer-5"></div>
        <div class="booking-panel-arrow"><i class="booking-arrow-select"></i></div>
        <select class="select-xxl" >
            <option value="gb">English</option>
            <option value="fr">Français</option>
            <option value="it">Italiano</option>
        </select>


        <button ng-click="saveSettings()" class="btn-xxl btn-sosDriver" >
            Salva
        </button>
    </div>
</div>
