<div class="spacer-50"></div>
<br> <br> <br>
<div class="list list-inset">
  <div class="head">
    <div class="item item-text-wrap item-thumbnail-left">
      <img  class="myImage" src="prova.jpg" ng-click="capturePhotos()">
      <img id="myImage">

     <h2><b>{{user.Nome + " " + user.Cognome}}</b></h2>
     <p>{{clock | date:'dd-MMMM-yyyy'}}</p><ds-widget-clock show-digital theme="blue-light" digital-format="'hh:mm:ss a'"></ds-widget-clock>
     <label class="toggle toggle-light">
      <input type="checkbox"  ng-click="Driver()">
      <div class="track">
      <div class="handle"> </div>
    </div>
  </div>
    <div class="list" ng-hide="chooseDriver" >
      <div class="item item-divider">
        <strong>Dati Utente</strong>
      </div>
      <div class="item">
        <div align="center">Codice Utente</div>
          <p1>{{user.idUser}}</p1>
      </div>
      <div class="item">
        <div align="center">Data di Nascita</div>
          <p1>{{user.DataNascita}}</p1>
      </div>
      <div class="item">
        <div align="center">Sesso</div>
          <p1>{{user.Sesso}}</p1>
      </div>
      <div class="item">
        <div align="center">Data di Nascita</div>
          <p1>{{user.DataNascita}}</p1>
      </div>
        <div class="item item-divider">
          <strong ng-bind="'CONTACTS_USER'|translate">Contatti</strong>
        </div>
        <div class="item">
          <div align="center">E-mail</div>
            <p1  ng-hide="shouldShow">{{user.Email}}</p1>
            <div align="center"><input ng-model="email" type="email"  placeholder="Inserisci Nuovo Email" ng-show="shouldShow"/></div>
            <div align="right"> <i class="icon ion-edit" ng-show="shouldShow" ></i></div>
        </div>
          <div class="item">
            <div align="center" ng-bind="'CELLPHONE_NUMBER_USER'|translate">Numero di Cellulare</div>
              <p1  ng-hide="shouldShow">{{user.Cellulare}}</p1>
              <div align="center"><input ng-model="cellulare" type="text" ng-model="cellulare" placeholder="Inserisci Nuovo Numero" ng-show="shouldShow"/></div>
              <div align="right"> <i class="icon ion-edit" ng-show="shouldShow" ></i></div>
          </div>
      <div class="item item-divider">
        <strong ng-bind="'RESIDENCE_USER'|translate">Residenza</strong>
      </div>
          <div class="item">
            <div align="center" ng-bind="'CITY_USER'|translate">Città</div>
              <p1  ng-hide="shouldShow">{{user.Citta}}</p1>
              <div align="center">
              <select ng-model="citta" placeholder="Inserisci Nuovo Citta" ng-show="shouldShow">
                <option ng-bind="'SELECT_USER'|translate">-Seleziona-</option>
                <option value="BOLOGNA">BOLOGNA</option>
                <option value="MILANO">MILANO</option>
                <option value="ROMA">ROMA</option>
                <option value="TORINO">TORINO</option>
              </select>
            </div>
              <div align="right"> <i class="icon ion-edit" ng-show="shouldShow" ></i></div>
          </div>
          <div class="item">
            <div align="center" ng-bind="'HOME_USER'|translate">Domicilio</div>
              <p1  ng-hide="shouldShow">{{user.Via}}</p1>
              <div align="center"><input ng-model="via" type="text" placeholder="Inserisci Nuovo Via" ng-show="shouldShow"/></div>
              <div align="right"> <i class="icon ion-edit" ng-show="shouldShow" ></i></div>
          </div>
</div> <!--div della prima pagina-->
  <div class="autista" ng-show="chooseDriver">
    <div ng-hide="tabellapatente" >
       <div class="item item-divider">
         <strong ng-bind="'LICENSE_USER'|translate">Patente</strong>
       </div>
           <div class="item">
             <div align="center" ng-bind="'CODE_LICENSE_USER'|translate">Codice Patente</div>
               <p1  ng-hide="shouldShow">{{user.CodicePatente}}</p1>
               <div align="center"><input ng-model="codicepatente" type="text"  placeholder="Inserisci Codice Patente" ng-show="shouldShow"/></div>
               <div align="right"> <i class="icon ion-edit" ng-show="shouldShow"></i></div>
           </div>
           <div class="item">
             <div align="center" ng-bind="'DATE_ISSUE_USER'|translate">Data Emissione</div>
               <p1  ng-hide="shouldShow">{{user.Emissione | date}}</p1>
               <div align="center"><input type="date"  ng-model="emissione" ng-show="shouldShow"></div>
               <div align="right"> <i class="icon ion-edit" ng-show="shouldShow"></i></div>
           </div>
           <div class="item">
             <div align="center" ng-bind="'DATE_EXPIRY_USER'|translate">Data Scadenza</div>
               <p1  ng-hide="shouldShow">{{user.Scadenza | date: 'yyyy-MM-dd'}}</p1>
               <div align="center"><input type="date" ng-model="scadenza" ng-show="shouldShow" placeholder="yyyy-MM-dd" required /></div>
               <div align="right"> <i class="icon ion-edit" ng-show="shouldShow"></i></div>
           </div>
           <div class="item">
             <div align="center" ng-bind="'TYPE_LICENSE_USER'|translate">Tipologia Patente</div>
               <p1  ng-hide="shouldShow">{{user.TipoPatente}}</p1>
               <div align="center"><input ng-model="tipopatente" type="text" placeholder="Inserisci Tipo Patente" ng-show="shouldShow"/>
                 <select name="tipopatente" ng-model="tipopatente" placeholder="Inserisci Tipo Patente" ng-show="shouldShow">
                   <option value="A">A</option>
                   <option value="B">B</option>
                   <option value="AB">AB</option>
                 </select>
               </div>
               <div align="right"> <i class="icon ion-edit" ng-show="shouldShow" ></i></div>
           </div>

           <div class="item item-divider">
             <strong ng-bind="'AVAILABILITY_USER'|translate">Disponibilità</strong>
           </div>
           <label class="checkbox" >
       <input type="checkbox" ng-click="autista()" ng-init="checkautista=false" ng-checked="checkautista">
     </label>
            <label class="item item-input">
              <button class="button icon ion-android-locate" ng-click="localizzazione()"></button><h2>{{actualAddress}}</h2>
            </label>
   </div>
</div><!--seconda pagina-->
  <button class="button button-block button-positive" ng-show="shouldShow"  ng-click="annulla()" ng-bind="'CANCEL_USER'|translate">Annulla</button>
  <button class="button button-block button-positive" ng-ngit="shouldShow = true"  ng-click="shouldShow = !shouldShow" ng-hide="shouldShow" ng-bind="'CHANGE_USER'|translate">Modifica</button>
  <button  class="button button-block button-positive" ng-show="shouldShow" ng-bind="'SAVE_USER'|translate" ngclick="shouldShow = !shouldShow"ng-click="salva()">Salva</button>
</div><!--fine-->
