<div id="full-page">
<div class="bar bar-header bar-dark">
  <h1 class="title">Header</h1>
</div>

<div class="tabs-striped tabs-top tabs-background-balanced tabs-color-dark">
    <div class="tabs">
      <a class="tab-item" ng-click="changeTab(0)">
        <i class="icon ion-person"> </i>
        Person
      </a>
      <a class="tab-item" ng-click="changeTab(1)">
        <i class="icon ion-earth">  </i>
        Map
      </a>
      <a class="tab-item" ng-click="changeTab(2)">
        <i class="icon ion-ios-list-outline"></i>
        Cronology
      </a>

      <a class="tab-item"  ng-click="changeTab(3)">
        <i class="icon ion-gear-a"></i>
        Settings
      </a>
    </div>
  </div>


      <tabs class="swiper-container">


          <!-- TAB CONTENT -->
          <div class="swiper-wrapper">

              <!-- TAB1 -->
              <div when-scrolled class="swiper-slide" ng-controller="UserController">
                  <load-template url="../views/home/user.html"></load-template>
              </div>

              <!-- TAB2 -->
              <div  when-scrolled class="swiper-slide" >
                  <load-template url="../views/home/geolocalization.html"></load-template>
              </div>

              <!-- TAB3 -->
              <div when-scrolled class="swiper-slide">
                  <load-template url="../views/home/history.html"></load-template>
              </div>

              <!-- TAB4 -->
              <div when-scrolled class="swiper-slide">
                  <load-template url="../views/home/settings.html"></load-template>
              </div>

          </div>
      </tabs>
