<div id="full-page">
  <div class="list card">

  <div class="item item-avatar">
    <div class="row">
      <div class="col col-10"><i class="icon ion-chevron-left" ng-click="goToDrivers()"></i></div>
      <div class="col col-90" align="center">  <h1 class="title-driver-sosdriver" > {{driver.Nome}} {{driver.Cognome}}</h1> </div>
    </div>

    <p style="color:white" >{{driver.DataNascita}}</p>
  </div>

  <div class="item item-body">
    <img class="full-image" src="prova.jpg">


  </div>
  <a href="#" class="item item-icon-left">
    <i class="icon ion-home"></i>
    {{driver.Via}} - {{driver.Citta}}
  </a>

  <a href="#" class="item item-icon-left">
    <i class="icon ion-model-s"></i>
  <span ng-bind="'LICENSE_DRIVER'|translate"> Patente </span> {{driver.CodicePatente}} - {{driver.TipoPatente}}
  </a>

  <a href="#" class="item item-icon-left">
    <i class="icon ion-male"></i>
     {{driver.Sesso}}
  </a>

  <a href="#" class="item item-icon-left">
    <i class="icon ion-ios-people"></i>
    <span ng-bind="'MISSION_COMPLETE_DRIVER'|translate">servizi fatti</span>
  </a>

</div>
<button class="button buttonsosdriver-full button-sosdriver sosdriver" ng-bind="'BOOK_DRIVER'|translate" ng-click="selectDriver(driver.idautista)">
  Prenota
</button>
</div>
