<div id="full-page">

    <static-slider class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide swiper-no-swiping">
                <figure class="background-full image-01"></figure>
            </div>
            <div class="swiper-slide swiper-no-swiping">
                <figure class="background-full image-02"></figure>
            </div>
            <div class="swiper-slide swiper-no-swiping">
                <figure class="background-full image-03"></figure>
            </div>
            <div class="swiper-slide swiper-no-swiping">
                <figure class="background-full image-04"></figure>
            </div>
        </div>
    </static-slider>

    <!--PAGE CONTENT-->
    <ui-view></ui-view>

</div>
